[project]
	description = refregerator in game Pylots Brothers
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Олег Хаврошин (khoser)
[access "refs/for/refs/*"]
	read = group user/Олег Хаврошин (khoser)
	push = group user/Олег Хаврошин (khoser)
	label-Code-Review = -2..+2 group user/Олег Хаврошин (khoser)
	label-Verified = -1..+1 group user/Олег Хаврошин (khoser)
	rebase = group user/Олег Хаврошин (khoser)
	removeReviewer = group user/Олег Хаврошин (khoser)
	submit = group user/Олег Хаврошин (khoser)
[access "refs/heads/*"]
	read = group user/Олег Хаврошин (khoser)
	create = group user/Олег Хаврошин (khoser)
	push = +force group user/Олег Хаврошин (khoser)
	pushMerge = group user/Олег Хаврошин (khoser)
[access "refs/tags/*"]
	push = +force group user/Олег Хаврошин (khoser)
	pushTag = group user/Олег Хаврошин (khoser)
	pushSignedTag = group user/Олег Хаврошин (khoser)
